# JUMP
alias cd..='cd ..'
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# MISC
alias h='history'
alias a='bat'
alias r='ranger'
alias l='ls -lrthp'
alias tre='exa --long --tree'
alias grid='exa --recurse -L 2 -l --grid'
alias publicip='curl ipinfo.io/ip'
alias localip="ifconfig | grep -Eo 'inet (addr:)?([0-9]*\.){3}[0-9]*' | grep -Eo '([0-9]*\.){3}[0-9]*' | grep -v '127.0.0.1'"
alias ap='ansible-playbook'
alias bs='base64 --decode'
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'
alias v='vault'

# GIT
alias gs='git status'
alias dif='git diff'
alias gb='git symbolic-ref --short HEAD'
alias gbr='git branch -av'
alias g1='git log -1'
alias gl="git log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'"
alias gll='git log --stat --abbrev-commit'
alias gld='git log --pretty=format:%cd --date=short | uniq -c'
alias gac='git add . && git commit -m'
alias gpl='git pull origin master'

# DOCKER
alias dps='docker ps --all --format "table {{.Names}}\t{{.Status}}\t{{.Image}}\t{{.Ports}}"'
alias di='docker images'
alias dsp='docker system prune'
alias dis='docker images --format '{{.Size}}\t{{.Repository}}' | sort -r'
alias dn='docker network ls'
alias dv='docker volume ls'
alias dc="docker-compose"

# KUBERNETES
alias k='kubectl'
alias ktx='kubectx'
alias kx='ktx -'
alias kns='kubens'
alias ktl='kubetail'
alias ksys='k get --namespace kube-system'
alias kall='k get --all-namespaces'
alias kgn='k get no'
alias kgp='k get po'
alias kgs='k get svc'
alias kgi='k get ing'
alias kgd='k get deploy'
alias kpf='k port-forward'
alias kgsm='k get servicemonitor'
alias kgpr='k get prometheusrule'
alias kgsl='k get servicelevel'
alias dp='describepod'
alias tp='tailpod'
alias ep='execpod'
alias rbac='rbac-lookup'
alias kbox='kubectl run --generator=run-pod/v1 busybox --image=radial/busyboxplus:curl -i --tty --rm'
alias ksl='k8sec list'
function kev
    kubectl get events  --sort-by='.metadata.creationTimestamp'  -o 'go-template={{range .items}}{{.involvedObject.name}}{{"\t"}}{{.involvedObject.kind}}{{"\t"}}{{.message}}{{"\t"}}{{.reason}}{{"\t"}}{{.type}}{{"\t"}}{{.firstTimestamp}}{{"\n"}}{{end}}'
end

