# JUMP
alias cd..='cd ..'
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# MISC
alias h='history'
alias a='bat'
alias r='ranger'
alias l='ls -lrthp'
alias tre='exa --long --tree'
alias grid='exa --recurse -L 2 -l --grid'
alias publicip='curl ipinfo.io/ip'
alias localip="ifconfig | grep -Eo 'inet (addr:)?([0-9]*\.){3}[0-9]*' | grep -Eo '([0-9]*\.){3}[0-9]*' | grep -v '127.0.0.1'"
alias ap='ansible-playbook'
alias tf='terraform'
alias tfer='terraformer'
alias bs='base64 --decode'
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'
alias v='vault'
alias f='flux'
alias f2='flux2'

# GIT
alias gs='git status'
alias dif='git diff'
alias gac='git add . && git commit -m'
alias gm='git checkout master; git reset --hard origin/master; gplom'
alias gplom='git pull origin master'
alias gb='git symbolic-ref --short HEAD'
alias gbr='git branch -av'
alias g1='git log -1'
alias gl="git log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'"
alias gll='git log --stat --abbrev-commit'
alias gld='git log --pretty=format:%cd --date=short | uniq -c'

# DOCKER
alias dps='docker ps --all --format "table {{.Names}}\t{{.Status}}\t{{.Image}}\t{{.Ports}}"'
alias di='docker images'
alias dsp='docker system prune'
alias dis='docker images --format '{{.Size}}\t{{.Repository}}' | sort -r'
alias dn='docker network ls'
alias dv='docker volume ls'
alias dc="docker-compose"

# KUBERNETES
alias k='kubectl'
alias ktx='kubectx'
alias kx='ktx -'
alias kns='kubens'
alias ktl='kubetail'
alias ksys='k get --namespace kube-system'
alias kall='k get -A'
alias kgn='k get no'
alias kgp='k get po'
alias kgs='k get svc'
alias kgi='k get ing'
alias kgd='k get deploy'
alias kgss='k get sealedsecrets'
alias kgng='k get no | grep $1'
alias kgpg='k get po | grep $1'
alias kgpk='k get po | grep kafka'
alias kgsg='k get svc | grep $1'
alias kgig='k get ing | grep $1'
alias kgdg='k get deploy | grep $1'
alias kpf='k port-forward'
alias kgsm='k get servicemonitor'
alias kgpr='k get prometheusrule'
alias kgsl='k get servicelevel'
alias dp='describepod'
alias tp='tailpod'
alias ep='execpod'
alias rbac='rbac-lookup'
alias kbox='kubectl run --generator=run-pod/v1 busybox --image=radial/busyboxplus:curl -i --tty --rm'
alias kpython='kubectl run -i --tty --image pstauffer/curl:latest python-test --restart=Never --rm /bin/sh'
alias ktp='kubectl top pod | sort --key 3 --numeric'
alias ktpall='kubectl top pod -A | sort --key 4 --numeric'
alias ktpc='kubectl top pod --containers'
alias ksl='k8sec list'
alias hss='helm search repo|grep staging'
alias hsp='helm search repo|grep production'
alias hall='helm ls --all-namespaces'
alias kghr='k get helmrelease'
alias kghrr="kghr -o custom-columns='NAME:.metadata.name,READY:.status.conditions[0].status,VERSION_REQUESTED:.spec.chart.spec.version,APPLIED:.status.lastAppliedRevision,DEPLOYED:.status.conditions[0].lastTransitionTime'"
alias kc='kube-capacity'
alias kcp='kube-capacity -p'
function khttp
    kubectl get ing -o json | jq -r '.items[] | .spec.rules[].host + .spec.rules[].http.paths[].path + " served by " + .spec.rules[].http.paths[].backend.serviceName' | sort -u
end
