# JUMP
alias cd..='cd ..'
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# MISC
alias h="history --show-time='%d.%h - %H:%M:%S '"
alias a='bat'
alias r='ranger'
alias l='ls -lrthp'
alias tre='exa --long --tree --color-scale'
alias grid='exa --recurse -L 2 -l --grid'
alias ap='ansible-playbook'
alias tf='terraform'
alias tfer='terraformer'
alias bs='base64 --decode'
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'
alias v='vault'
alias f='flux'
alias f2='flux2'
alias g='gcloud'
alias publicip='curl ipinfo.io/ip'
alias privateip="ifconfig | grep -Eo 'inet (addr:)?([0-9]*\.){3}[0-9]*' | grep -Eo '([0-9]*\.){3}[0-9]*' | grep -v '127.0.0.1'"
alias ifactive="ifconfig | pcregrep -M -o '^[^\t:]+:([^\n]|\n\t)*status: active'"
alias dig='dig +short'
alias duf='duf -hide special'
alias wttr='curl "https://wttr.in/?location=Belgrade"'

# GIT
alias gs='git status'
alias dif='git diff'
alias gac='git add . && git commit -m'
alias gm='git checkout master; git reset --hard origin/master; gplom'
alias gplom='git pull origin master'
alias gb='git symbolic-ref --short HEAD'
alias gbr='git branch -av'
alias g1='git log -1'
alias gl="git log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'"
alias gll='git log --stat --abbrev-commit'
alias gld='git log --pretty=format:%cd --date=short | uniq -c'

# DOCKER
alias dps='docker ps --all --format "table {{.Names}}\t{{.Status}}\t{{.Image}}\t{{.Ports}}"'
alias di='docker images'
alias dsp='docker system prune'
alias dis='docker images --format '{{.Size}}\t{{.Repository}}' | sort -r'
alias dn='docker network ls'
alias dv='docker volume ls'
alias dc="docker-compose"

# KUBERNETES
alias k='kubectl'
alias ktx='kubectx'
alias kx='ktx -'
alias kns='kubens'
alias ktl='kubetail'
alias kap='k apply -f'
alias kdif="KUBECTL_EXTERNAL_DIFF='colordiff -N -u' kubectl diff -f"
alias ksys='k get --namespace kube-system'
alias kall='k get -A'
alias kgn='k get no -o custom-columns=Name:".metadata.name",Kubelet:.status.nodeInfo.kubeletVersion,Status:.status.conditions[-1].reason,Date:".metadata.creationTimestamp",InstType:".metadata.labels.beta\.kubernetes\.io/instance-type,Cpu Cores:.status.capacity.cpu,Ram:.status.capacity.memory,Internal-IP:".status.addresses[0].address", External-IP:".status.addresses[1].address",Taints:.spec.taints" --sort-by=.metadata.creationTimestamp'
alias kgc='k get po -o="custom-columns=NAME:.metadata.name,INIT-CONTAINERS:.spec.initContainers[*].name,CONTAINERS:.spec.containers[*].name"'
alias kgpw='k get po -w'

alias kgp='k get po'
alias kgs='k get svc'
alias kgi='k get ing'
alias kgd='k get deploy'
alias kgss='k get statefulsets'
alias kgds='k get ds'
alias kgsec='k get secret'
alias kgsm='k get servicemonitor'
alias kgpr='k get prometheusrule'
alias kgns='k get ns'
alias kgcm='k get cm'
alias kgsa='k get sa'
alias kghpa='k get hpa'

alias kgp1='k get po --sort-by=.metadata.creationTimestamp'
alias kgs1='k get svc --sort-by=.metadata.creationTimestamp'
alias kgi1='k get ing --sort-by=.metadata.creationTimestamp'
alias kgd1='k get deploy --sort-by=.metadata.creationTimestamp'
alias kgss1='k get statefulsets --sort-by=.metadata.creationTimestamp'
alias kgds1='k get ds --sort-by=.metadata.creationTimestamp'
alias kgsec1='k get secret --sort-by=.metadata.creationTimestamp'
alias kgsm1='k get servicemonitor --sort-by=.metadata.creationTimestamp'
alias kgpr1='k get prometheusrule --sort-by=.metadata.creationTimestamp'
alias kgns1='k get ns --sort-by=.metadata.creationTimestamp'
alias kgcm1='k get cm --sort-by=.metadata.creationTimestamp'
alias kgsa1='k get sa --sort-by=.metadata.creationTimestamp'
alias kghpa1='k get hpa --sort-by=.metadata.creationTimestamp'

alias kgng='k get no | grep $1'
alias kgpg='k get po | grep $1'
alias kgpk='k get po | grep kafka'
alias kgsg='k get svc | grep $1'
alias kgig='k get ing | grep $1'
alias kgdg='k get deploy | grep $1'

alias kpf='k port-forward'
alias kgpv='k get pv --sort-by=.metadata.creationTimestamp'
alias kgpvc='k get pvc --sort-by=.metadata.creationTimestamp'
alias dp='describepod'
alias tp='tailpod'
alias ep='execpod'
alias rbac='rbac-lookup'
alias ktp='k top pod | sort --key 3 --numeric'
alias ktpcpu='k top pod | sort --key 2 --numeric'
alias ktn='k top no | sort --key 5 --numeric'
alias ktpall='kubectl top pod -A | sort --key 4 --numeric'
alias ktpc='kubectl top pod --containers'
alias kconvert='kubectl-convert'
alias hall='helm ls --all-namespaces'
alias kc='k resource-capacity -u'
alias kcp='k resource-capacity -p -u'
alias kcc='k resource-capacity -c'
alias kvu='k view-utilization -h'
alias kbox='kubectl run busybox --image=radial/busyboxplus:curl -i --tty --rm'
alias kvs='k view-secret'
alias am='amtool'
alias aml='amtool alert'
alias ams='amtool silence'
